header {
  height:500px;
  background: -moz-linear-gradient(top, #39a4d0, #efefef);
  background: -webkit-linear-gradient(top, #39a4d0, #efefef);
  background: linear-gradient(top bottom, #39a4d0, #efefef);
}

.header_menu {
  display:flex;
}

.header_menu li {
  margin:15px;
  list-style: none;
}

.header_menu li a {
  color:white;
  text-decoration:none;
}
